<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <logger name="slick.jdbc.JdbcBackend.statement"  level="DEBUG" />-->
    <logger name="slick" level="DEBUG" />
    <logger name="akka.actor.CoordinatedShutdown" level="INFO" />
    <logger name="akka.actor" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
